@keyframes breathing-color{
    from
    {
        background-color: rgb(210, 142, 255);
    }
    to
    {
        background-color: hsl(303, 100%, 85%);
    }
}

.breathe {
    background-color: rgb(153, 0, 255);

    animation: 1s infinite alternate ease-out breathing-color;

}

@keyframes breathing-color{
    from
    {
        background-color:  #dafffc;
    }
    to
    {
        background-color: hsl(0, 0%, 100%);
    }
}

#mainname {
    font-family: 'Cambira Math';
    font-weight: bold;
    color: navy;
    text-align: left;

}


.profile_image {
    border-radius: 50px;
    height: 75px;
    width: 75px;
}

.row_height {
    text-size-adjust: auto;
    height: auto;
}

.table_heads {
    line-height: 50%;
    font-weight: bold;
    font-family: "Cambria Math";
    font-size: large;
    color: navy;
}

.modal_heads {
    line-height: 40%;
    font-weight: bold;
    font-family: "cursive";
    font-size: large;
    color: rgb(47, 47, 245);
}

.fifty_chars {
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
    text-align:justify;
    text-overflow: ellipsis;
}

.links {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: x-small;
}

.smaller-text {
    font-size: 4mm;
}

p {
    font-size: 4mm;
}